Embedded C/
xampp/
Android/
/Java/NetBeans/Training/nbproject/private/
/Java/NetBeans/Training/build/
/Java/NetBeans/IRERQ/nbproject/private/
/Java/NetBeans/IRERQ/build/
/Projects/InternetUtilities/nbproject/private/
/Projects/InternetUtilities/build/